@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.purple {
    color: #6415FF;
}

/* 

NAVIGATION 

*/

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin: 0 auto;
}

.nav__logo {
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
}

.nav__logo--T {
    border: 1px solid #5518AB;
    padding: 3px 10px;
    color: #fff;
    background-color: #5518AB;
    border-radius: 5px;
    margin: 0 12px 0 0;
}

.nav__link {
    margin: 0px 24px;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
}

.sign-up {
    padding: 12px 32px;
    border-radius: 50px;
    background-color: #6415FF;
    color: #fff;
    margin: 0;
}

.nav__links {
    justify-content: space-between;
}

/* 

HEADER 

*/

header {
    width: 100%;
    padding: 96px 0;
}

.header__left--column {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__right--column {
    width: 60%;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
}

.header__description {
    margin: 32px 0;
    font-size: 18px;
    color: #243E63;
}

.header__container {
    display: flex;
}

.header__customers {
    margin: 80px 0 0;
}

.header__customers--p {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.header__left--img {
    width: 100%;
    height: auto;
    padding: 0 64px 0 0;
    margin: 16px 0 0;
    opacity: 0.5;
}

.header__right--img {
    width: 100%;
    height: 100%;
}

.header__email--container {
    display: flex;
    position: relative;
    align-items: center;
}

.header__email--input {
    width: 100%;
    max-width: 448px;
    height: 68px;
    border-radius: 150px;
    border: 2px solid;
    border-width: 2px;
    padding: 20px 32px 20px 32px;
    font-size: 16px;
    border-color: rgb(226, 232, 240);
}

.header__email--get-started {
    position: absolute;
    display: flex;
    right: 6px;
    width: 160px;
    height: 52px;
    font-size: 16px;
    margin: 8px 8px 8px 0px;
    justify-content: center;
    align-items: center;
    padding: 16px 0 16px 0;
    border-radius: 50px;
    color: #FFF;
    background-color: #6415FF;
    border: 0px;
    font-weight: 700;
}

/*

FEATURES 

*/

.features__container {
    padding: 80px 0;
}

.features__information--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__label {
    font-size: 16px;
    color: #6415FF;
    font-weight: 700;
    margin: 0 0 16px;
    letter-spacing: 0.1em;
}

.features__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.features__description {
    margin: 16px 0 0;
    max-width: 36rem;
    line-height: 1.625;
    color: #7C8BA1;
    font-weight: 500;
}

.features__services {
    display: flex;
    padding: 72px 0 0 0;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service__logo {
    border: 1px solid;
    border-radius: 360px;
    border-color: rgb(226, 232, 240);
    padding: 20px;
}

.service__text {
    display: flex;
    flex-direction: column;
}

.service__title {
    color: #243E63;
    font-size: 24px;
    margin: 16px 0 0;
    font-weight: 700;
}

.service__description {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 0;
}