@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.purple {
    color: #6415FF;
}

.section__label {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.section__description {
    line-height: 1.625;
    color: #7C8BA1;
    font-weight: 500;
}

.btn__menu {
    display: none;
}

/* 

NAVIGATION 

*/

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin: 0 auto;
}

.nav__logo {
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
}

.nav__logo--T {
    border: 1px solid #5518AB;
    padding: 3px 10px;
    color: #fff;
    background-color: #5518AB;
    border-radius: 5px;
    margin: 0 12px 0 0;
}

.nav__link {
    margin: 0px 24px;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
}

.sign-up {
    padding: 12px 32px;
    border-radius: 50px;
    background-color: #6415FF;
    color: #fff;
    margin: 0;
}

.nav__links {
    justify-content: space-between;
}

/* 

HEADER 

*/

header {
    width: 100%;
    padding: 96px 0;
}

.header__left--column {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__right--column {
    width: 60%;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
}

.header__description {
    margin: 32px 0;
    font-size: 18px;
    color: #243E63;
}

.header__container {
    display: flex;
}

.header__customers {
    margin: 80px 0 0;
}

.header__customers--p {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.header__left--img {
    width: 100%;
    height: auto;
    padding: 0 64px 0 0;
    margin: 16px 0 0;
    opacity: 0.5;
}

.header__right--img {
    width: 100%;
    height: 100%;
}

.header__email--container {
    display: flex;
    position: relative;
    align-items: center;
}

.header__email--input {
    width: 100%;
    max-width: 448px;
    height: 68px;
    border-radius: 150px;
    border: 2px solid;
    border-width: 2px;
    padding: 20px 32px 20px 32px;
    font-size: 16px;
    border-color: rgb(226, 232, 240);
}

.header__email--get-started {
    position: absolute;
    display: flex;
    right: 6px;
    width: 160px;
    height: 52px;
    font-size: 16px;
    margin: 8px 8px 8px 0px;
    justify-content: center;
    align-items: center;
    padding: 16px 0 16px 0;
    border-radius: 50px;
    color: #FFF;
    background-color: #6415FF;
    border: 0px;
    font-weight: 700;
}

/*

FEATURES 

*/

.features__container {
    padding: 96px 0;
}

.features__information--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__label {
    margin: 0 0 16px;
}

.features__description {
    margin: 16px 0 0;
    max-width: 36rem;
    text-align: center;
}

.features__services {
    display: flex;
    padding: 72px 0 0 0;
    flex-wrap: wrap;
    margin: 0 56px;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 32px 8px;
}

.service__logo {
    border: 1px solid;
    border-radius: 360px;
    border-color: rgb(226, 232, 240);
    padding: 20px;
    height: 70px;
}

.service__text {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
    text-align: left;
}

.service__title {
    color: #243E63;
    font-size: 24px;
    font-weight: 700;
}

.service__description {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 0;
    line-height: 2;
}

/* 

DEVELOPMENT 

*/

.development__container {
    display: flex;
    align-items: center;
    padding: 96px 0;
}

.development__information {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.development__title {
    margin: 16px 0 0;
    text-align: left;
}

.development__description {
    margin: 16px 0 0;
    font-size: 18px;
}

.development__learn-more {
    width: 142px;
    margin: 32px 0 0;
    font-size: 14px;
    font-weight: 700;
}

.development__landing-img {
    width: 50%;
    margin-left: 36px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 5px;
}

/*

STEPS 

*/

.steps__container {
    display: flex;
    padding: 96px 0;
}

.steps__laptop--img {
    width: 50%;
    height: 100%;
}

.steps__information {
    margin-left: 64px;
    width: 50%;
}

.steps__title {
    margin: 16px 0 0;
}

.steps__list {
    margin: 48px 0 0;
}

.step {
    display: flex;
    margin: 32px 0 0;
}

.step__number {
    font-size: 36px;
    color: #CBD5E0;
    font-weight: 600;
}

.step__information {
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
    color: #243E63;
    font-weight: 600;
}

.step__description {
    font-size: 14px;
    color: #718096;
    margin: 12px 0 0;
    font-weight: 500;
}

/*

VALUES 

*/

.values__container {
    display: flex;
    margin: 96px 0;
}

.values__information {
    width: 50%;
}

.values__title {
    margin: 16px 0 0;
}

.values__description {
    margin: 32px 0 0;
    font-size: 18px;
}

.values__principles {
    display: flex;
    margin: 32px 0 0;
}

.values__principle-a {
    margin-right: 32px;
}

.values__principle--title {
    font-size: 20px;
    color: #243E63;
}

.values__principle--description {
    font-size: 16px;
    color: #718096;
    margin: 16px 0 0;
}

.values__learn-more {
    display: flex;
    width: 142px;
    margin: 48px 0 0;
    font-size: 14px;
    font-weight: 700;
}

.values__painting--img {
    width: 50%;
}

/* 

PRICING 

*/

.pricing__information--container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pricing__label {
    margin-bottom: 16px;
}

.pricing__description {
    max-width: 36rem;
    margin: 0 auto;
    margin-top: 16px;
}

.pricing__plans--container {
    display: flex;
    margin-top: 64px;
}

.pricing__plan {
    width: calc(100% / 3);
}

.pricing__plan--pricing {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(226, 232, 240);
    padding: 32px 0;
}

.pricing__plan--title {
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
}

.pricing__plan--price {
    font-size: 48px;
    color: #1A202C;
    font-weight: 700;
    margin: 0.25rem 0 0.25rem 0;
}

.pricing__plan--duration {
    font-size: 16px;
    color: #A0AEC0;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.pricing__plan--information {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(226, 232, 240);
    border-top: none;
    text-align: center;
    padding: 32px;
}

.plan__users {
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
}

.plan__features {
    font-size: 16px;
    color: #718096;
    font-weight: 500;
    margin: 20px 0 0;
}

.plan__buy-now--container {
    display: flex;
    padding: 32px 64px;
    border: 2px solid rgb(226, 232, 240);
    border-top: none;
    justify-content: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.plan__buy-now {
    padding: 16px 32px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.plan__margin {
    margin: 0 48px;
}

.plan__top--outline {
    width: 100%;
    height: 8px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__outline--1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__full-color {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__outline--2 {
    background-color: red;
}

.plan__outline--3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.fontcolor__alt {
    color: #F7FAFC;
}

.fontcolor__alt--2 {
    color: #E2E8F0;
}

.border__color--alt {
    border-color: rgb(226, 232, 240);
}

.plan__margin--alt {
    padding-top: 40px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
}

.plan__information--alt {
    border-top: 2px solid rgb(110, 164, 234);
    border-bottom: 2px solid rgb(110, 164, 234);
    border-left: none;
    border-right: none;
}

.plan__buy-now--alt {
    border-left: none;
    border-right: none;
}

/* 

FOOTER 

*/

footer {
    margin-top: 96px;
    background-color: rgb(100, 21, 255);
    color: rgb(247, 250, 252);
    display: flex;
    flex-direction: column;
}

.links__container {
    display: flex;
    margin: 96px 0 48px;
    justify-content: space-between;
}

.link__stack {
    display: flex;
    flex-direction: column;
}

.link__stack--title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #F7FAFC;
}

.links__link {
    color: rgb(247, 250, 252);
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
}

.footer__seperator {
    width: 100%;
    height: 1px;
    background-color: rgba(247, 250, 252, 0.171);
    margin-bottom: 48px;
}

.footer__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.footerlogo__alt {
    color: #6415FF;
    background-color: #FFF;
    border-color: #FFF;
}

.treact__alt {
    color: #FFF;
}

.social__link {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 360px;
}

/* SMALL PHONES, TABLETS, LRGE SMARTPHONES */

@media (max-width: 768px) {
    .nav__links {
        display: none;
    }

    .header__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .header__left--column {
        width: 100%;
        max-width: 510px;
    }

    .header__left--img {
        padding: 0px;
    }

    .header__right--column {
        width: 80%;
        margin-top: 28px;
    }

    .header__title {
        font-size: 30px;
    }

    .section__title {
        text-align: center;
    }

    .btn__menu {
        display: block;
    }

    .features__services {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .service {
        width: 100%;
        max-width: 65%;
    }
}